h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}
.friend-list {
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

form {
    margin: auto;
    width: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.invisble {
    opacity: 0.0;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: left;
    padding-left: 42%;
  }

  .inner-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%s
  }
  
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  #avatar {
    border-radius:32px;
    height:36px;
    width:36px;
    align-self: center;
  }