h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}
.friend-list {
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

form {
    margin: auto;
    width: 50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.invisble {
    opacity: 0.0;
}